<div class="appearance">
    <!-- TODO: table rozdelit na vice sloupcu aby sipky byly zarovnane pod sebou --> 
    <table>
            <tbody>
                <tr>
                    <td>Portrét</td>
                    <td><<span>Obrázek</span>></td>
                </tr>
                <tr>
                    <td>Druh</td>
                    <td><<span>člověk</span>></td>
                </tr>
                <tr>
                    <td>Pohlaví</td>
                    <td><<span>muž</span>></td>
                </tr>
                <tr>
                    <td>Základ vzhledu</td>
                    <td><<span>čistý</span>></td>
                </tr>
                <tr>
                    <td>Zdánlivý věk</td>
                    <td><<span>29</span>></td>
                </tr>
                <tr>
                    <td>Kondice</td>
                    <td><<span>chabá</span>></td>
                </tr>
                <tr>
                    <td>Výška</td>
                    <td><<span>vyšší</span>></td>
                </tr>
                <tr>
                    <td>Hlava</td>
                    <td><<span>č. 22</span>></td>
                </tr>
                <tr>
                    <td>Hlas</td>
                    <td><<span>mužský</span>></td>
                </tr>
                <tr>
                    <td>Držení těla</td>
                    <td><<span>asertivní</span>></td>
                </tr>
                <tr>
                    <td>Styl oblečení</td>
                    <td><<span>neformální</span>></td>
                </tr>
            </tbody>
        </table>
</div>                  