{% extends "layout.html" %}












{% block main %}

<table class="skills-table">
    <tbody>
        <tr id="skill1">
            <td class="skill-logo"><img src="/static/logos/cplusplus.png"></td>
            <td class="skill-label">C/C++</td>
            <td class="sign"><span>&#8331;</span></td>
            <td class="level">4</td>
            <td class="sign"><span>&#8330;</span></td>
        </tr>
        <tr>
            <td class="skill-logo"><img src="/static/logos/python.png"></td>
            <td class="skill-label">Python</td>
            <td class="sign"><span>&#8331;</span></td>
            <td class="level">5</td>
            <td class="sign"><span>&#8330;</span></td>
        </tr>
        <tr>
            <td class="skill-logo"><img src="/static/logos/js.png"></td>
            <td class="skill-label">Javascript</td>
            <td class="sign"><span>&#8331;</span></td>
            <td class="level">4</td>
            <td class="sign"><span>&#8330;</span></td>
        </tr>
        <tr>
            <td class="skill-logo"><img src="/static/logos/html.png"></td>
            <td class="skill-label">HTML</td>
            <td class="sign"><span>&#8331;</span></td>
            <td class="level">8</td>
            <td class="sign"><span>&#8330;</span></td>
        </tr>


    </tbody>
</table>



{% endblock %}


{% block nav %}
<nav id="menu" class="menu">
    <ul id="items"></ul>
</nav>
{% endblock %}

{% block javascript %}
<script type="module" src="/static/index.js"></script>
{% endblock %}