
1)
<!-- <div class ="modal" id="modal">
    <div id="content" class="content">
        <div class="text-container">
            Jste si opravdu jisti, že chcete odejít?
        </div>
        <div class="buttons-container">
            <button id="answerNo" class="no button" type="button">Zpět do hry</button>
            <button id="answerYes" class="yes button" type="button">Opravdu končím</button>
        </div>
    </div>
</div> -->


2)
<!-- <iframe id="5f9ba68e-d40f-48d5-8d73-5095246e5dd9" src="https://app.vectary.com/viewer/v1/?model=5f9ba68e-d40f-48d5-8d73-5095246e5dd9&env=studio3&showInteractionPrompt=0" frameborder="0" width="33%" height="100%"></iframe> -->


3)
<!-- <input type="radio" name="btn-focus" id="btn-focus1">
<label for="btn-focus1" class="grandButton mainMenu-btn">Založit novou postavu</label>

<input type="radio" name="btn-focus" id="btn-focus2">
<label for="btn-focus2" class="grandButton mainMenu-btn">Nastavení</label> -->