/* Variables */
/* :root {
  --text: #555454;
  --background: #fff;
  --ui-elements: #555454;
  --ui-border-radius: 1px;
  --ui-animation-duration: 0.2s;
  --ui-hover-button-color: #433e5c;
  --ui-clicked-button: rgb(31, 48, 105);
  --ui-text-negative: #fff;
} */

/* Reset (TODO: i should be more specific, this decreases performance) */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html[data-theme='light'] {
  --text: #555454;
  --background: #fff;
  --ui-elements: #555454;
  --ui-border-radius: 1px;
  --ui-animation-duration: 0.2s;
  --ui-hover-button-color: #433e5c;
  --ui-clicked-button: rgb(31, 48, 105);
  --ui-clicked-button-text: #fff;
  --ui-headings: black;
  --ui-text-negative: #fff;
  --ui-attributes-bonuses: black;
}

html[data-theme='dark'] {
  --text: #F5F5DC;
  --background: #303030;
  --ui-elements: #F5F5DC;
  --ui-border-radius: 1px;
  --ui-animation-duration: 0.2s;
  --ui-hover-button-color: #C6AB80;
  --ui-clicked-button: #A3795B;
  --ui-text-negative: #303030;
  --ui-headings: #C6AB80;
}


/* General Layout */
html {
  background-color: var(--background);
  font-size: 100%;
  cursor: default;
  caret-color: rgba(0,0,0,0); /* Hide caret blinking in a text (paragraphs, buttons, etc)*/
}


::selection {
  background-color: inherit;
}

body {
  font-family: "Inconsolata", monospace;
}

main {
  border: 1px solid rebeccapurple;
  min-height: 400px; /*Lze doupravit*/
  height: 75vh;
  width: 100%;
  position: relative;
}

header {
  height: 15vh; /* 5rem */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > h1 {
  margin-left: 60px;
  font-size: 2.5rem;
  color: var(--ui-headings);
}

button {
  background-color: var(--background);
}


    /* Main Menu (homepage) -----------------------------*/ 
.menu {
  position: absolute;
  top: 35%;
  right: 10%;
}

.menu ul {
  list-style-type: none;
}

.menu h2 {
  text-align: right;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  color: var(--ui-headings);
}

  /* Creation Menu Bar ------------------------------*/
.creation-menu {
  height: 10vh;
}

.creation-menu ul {
  margin: 0 60px;  /* zmenit tuto a souvisejici na rem jednotky */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}




/* Button animation section */
input[name="btn-hp"],
input[name="btn-menu"],
input[name="btn-profile"] {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: right;
  border-radius: var(--ui-border-radius);
  background-color: var(--ui-elements);
  height: 2.3rem;
  color: var(--background);
  margin: 0.5rem 0;
  font-size: 1.2rem;
  transition: background-color var(--ui-animation-duration),
              padding var(--ui-animation-duration), 
              letter-spacing var(--ui-animation-duration) 
              ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-color: var(--ui-hover-button-color);
  padding: 0 2rem;
  letter-spacing: 0.07rem;
}

.button:active,
:checked + .button {
  background-color: var(--ui-clicked-button);
  padding: 0 2rem;
}


/* Individual menu buttons */
/* Must be below .button classes */
.mainmenu {
  width: 20rem;
  padding: 0 1rem;
  justify-content: right;
}

.creationmenu {
  width: 17vw;
  min-width: 10vw;
  justify-content: center;
}

.historyprofilemenu {
  width: 20vw;
  padding: 0 1rem;
  justify-content: left;
}

.backToHomePage {
  width: 17vw;
  padding: 0 1rem;
  margin: 0 60px;
  justify-content: center;
}

.back-arrow {
  position: relative;
  right: 1rem;
}


/* Used by fadeAllElements() and showAllElements() (main.js) ---------------- */
.fadePage {
  animation: fade linear var(--ui-animation-duration) forwards;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.showPage {
  animation: showPage linear var(--ui-animation-duration) forwards;
}

@keyframes showPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  visibility: hidden;
}




 /* 3D model */
iframe {
  filter: grayscale(1);
  transition: filter 0.5s;
}

iframe:hover {
  filter: grayscale(0.5);
}




/* Creation Section Layout*/
.main-container {
  width: 100%;
  height: 100%;
  padding: 0 60px;
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: row;
}

.model3d-container {
  flex: 1.2;
  padding: 2vh 4vw;
  /* border: 1px solid rgb(184, 165, 171); */
}

.text-container {
  flex: 2;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  overflow: auto;
}




.creationMessage {
  white-space: pre-line;
  margin: 0 50px;
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
}




/* Appearance Section */
.appearance-table {
  font-size: 1.5vw;
  width: 90%;
  /* border: 1px solid rgb(146, 141, 140); */
}

.prop-col {
  padding-left: 3%;
  width: 60%;
  text-align: left;
}

.arrow-col {
  width: 10%;
  font-size: 1.3rem;
  text-align: center;
  transition: background-color 0.3s;
}

.arrow-col:hover {
  background-color: #b3b3c2;
  cursor: pointer;
}

.arrow-col:active {
  background-color: #5656a541;
}

.option-col {
  width: 20%;
  text-align: center;
  font-size: 1.6rem;
}

.appearance-table tr {
  height: 0.4rem;
  padding: auto 0;
  background-color: var(--background);
  transition: background-color 0.3s;
}

.appearance-table tr:hover {
  background-color: rgb(233, 233, 233);
}

.appearance-table td {
  border-radius: 3px;
}




/* History Section */
.history-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  /* border: 1px solid yellow; */
}

.profile {
  /* border: 1px dotted yellow; */
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
}

.profile ul {
  margin-left: 4rem;
  width: 17rem;
  /* border: 1px solid orange; */
  list-style-type: none;
}




.description {
  font-size: 1.1rem;
  line-height: 1.5rem;
  flex: 2;
  padding: 2rem 0 0 1rem;
  /* border: 1px dotted red; */
}




.skills-container {
  height: 100%;
  width: 100%;
}

.skills {
  overflow: auto;
  /* border: 1px solid salmon; */
  height: 45%;
  margin: 1rem 0;
}

.skills-description {
  /* border: 1px solid rgb(197, 197, 197); */
  height: 35%;
  border-radius: 5px;
  padding: 0 1rem;
  overflow: auto;
}

.skills-description .achieved {
  color: rgb(31, 48, 105);
  font-size: 1.0rem;
}

.skills-description .unachieved {
  color: rgb(196, 196, 196);
  font-size: 0.8rem;
  transition: font-size var(--ui-animation-duration),
              color var(--ui-animation-duration) ease-in-out;
}

.skills-description .unachieved:hover {
  font-size: 100%;
  color:rgb(253, 127, 127);
}

.skills-description .unachieved:hover:after {
  font-size: inherit;
  color:rgb(253, 127, 127);
  content: " (Nezvoleno)";
}

/* Google's letters coloring */
.unachieved:hover .g1 {
  color: #4285f4;
}
.unachieved:hover  .o1 {
  color: #ea4335;
}
.unachieved:hover  .o2 {
  color: #fbbc05;
}
.unachieved:hover  .g2 {
  color: #4285f4;
}
.unachieved:hover  .l {
  color: #34a853;
}
.unachieved:hover  .u {
  color: #ea4335;
}


/* This exclude list item from ordering */
.skills-description .down-arrow {
  display: block;
}

.skills-container h3 {
  font-size: 1rem;
  color: var(--ui-headings);
  border-bottom: 1px solid var(--ui-elements);
  margin-bottom: 1rem;
}

.skills-description ol {
  margin-left: 2rem;
  list-style-type: upper-roman;
}

.skills-table {
  color: var(--text);
  font-size: 1.5vw;
  width: 100%;
}

.skills-table:hover {
  cursor: pointer;
}

.skills-table tr {
  padding: auto 0;
  background-color: var(--background);
  filter: grayscale(1);
  transition: background-color var(--ui-animation-duration), 
              filter var(--ui-animation-duration) ease-in-out;

}

.skills-table tr:hover {
  background-color: rgb(241, 241, 241);
  filter: grayscale(0.7);
}

.skills-table td {
  border-radius: var(--ui-border-radius);
}

.skill-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-logo img {
  width: 2.2rem;
  height: 2.2rem;
  padding: 0.2rem;
  object-fit: contain;
}

.skill-label {
  padding-left: 10%;
  width: 60%;
  text-align: left;
}

.level {
  width: 10%;
  text-align: center;
  font-size: 1.6rem;
}

.sign {
  width: 10%;
  font-size: 2rem;
  text-align: center;
  transition: background-color 0.3s;
}
.sign span {
  position: relative;
  top: -0.3rem;
}

.sign:hover {
  background-color: #b3b3c2;
  cursor: pointer;
}




/* Window scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e6e6e6;
}

::-webkit-scrollbar-thumb {
  background: var(--ui-elements);
  border-radius: var(--ui-border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--ui-hover-button-color);
}

::-webkit-scrollbar-thumb:active {
  background: var(--ui-clicked-button);
}
 


/* /////////////// Attributes Section */
.attributes-container {
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
}

.attributes-boxes {
  /* border: 1px solid green; */
  height: 45%;
  overflow: auto;
  margin: 1rem 0;

  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-flow: row wrap;
  flex-shrink: 0;
}

.attributes-container h3{
  display: block;
  font-size: 1rem;
  color: var(--ui-headings);
  border-bottom: 1px solid var(--ui-elements);
  margin-bottom: 1rem;
}

.attribute-box {
  margin: 0.2rem 0.2rem;
  border-radius: 4px;
  width: 48%;
  min-width: 16rem;
  height: 3rem;

  padding: 0 2rem;
  background-color: var(--ui-elements);
  color: var(--ui-text-negative);
  transition: background-color var(--ui-animation-duration) ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.attribute-box .check-mark {
  /* background-color: var(--background); */
  background-color: rgb(218, 218, 218);
  color: var(--text);
  padding: 0.5rem;
  font-size: 1.5rem;
}

.attribute-box .uncheck-mark {
  /* background-color: var(--background); */
  background-color: rgb(218, 218, 218);
  color: rgb(218, 218, 218);
  padding: 0.5rem;
  font-size: 1.5rem;
}

.attribute-box:hover {
  background-color: var(--ui-hover-button-color);
}

.attribute-box:active {
  background-color: var(--ui-clicked-button);
}


.attributes-description {
  /* border: 1px solid peru; */
  /* height: 35%; */
  border-radius: 5px;
  padding: 0 1rem;
  overflow: auto;
}

.attributes-description > h2 {
  margin-bottom: 0.2rem;
  color: var(--ui-headings);
}

.attributes-description > p {
  font-size: 1.2rem;
  text-align: justify;
  color: var(--text)
}

.bonuses{
  margin: 1rem;
  list-style-type: none;
  color: var(--ui-attributes-bonuses);
  line-height: 1.2rem;
  font-size: 0.9rem;
  font-style: italic;
}

.bonuses li {
  transition: font-size var(--ui-animation-duration),
              color var(--ui-animation-duration) ease-in-out;
}

.bonuses li:hover {
  color: var(--ui-hover-button-color);
  font-size: 1.1rem;
}

.goodbye {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goodbye p {
  color: var(--text);
  font-size: 3rem;
}

/* Summary section */

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary p {
  margin-top: 1rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-align: justify;
  white-space: pre-line;
}

.btn-letsPlayAGame {
  margin-top: 2rem;
}

/* Notes:

<!-- &#9746;   cross in square -->
<!-- &#9745;   checked mark` in square -->
<!-- &#9744;   empty square -->
<!-- &#10005;  multiplication x --> */

.temp-alert-msg-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 2rem;
  height: 20px;
}

.temp-alert-msg {
  color: var(--ui-clicked-button);
  font-size: 1.3rem;
  margin: 2rem;
}



/* ------------------------ Extras Section --------------------------------- */

.extras-text-container {
  border: 1px dotted goldenrod;
  position: relative;
  height: 100%;
  width: 66.6%;
  margin-right: 2rem;
  padding: 2% 10%;
  overflow: auto;
}

