/* Variables */
:root {
  --text: #555454;
  --background: #fff;
  --ui-elements: #555454;
  --ui-border-radius: 1px;
  --ui-animation-duration: 0.3s;
  --ui-clicked-button: rgb(31, 48, 105);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* General Layout */
html {
  font-size: 100%;
  cursor: default;
}

::selection {
  background-color: inherit;
}

body {
  background-color: white; /* TODO Debug barva */
  font-family: "Inconsolata", monospace;
}

main {
  min-height: 400px; /*Lze doupravit*/
  height: 75vh;
  width: 100%;
  position: relative;
}

header {
  height: 15vh; /* 5rem */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > h1 {
  margin-left: 60px;
  font-size: 2.5rem;
  color: var(--ui-elements);
}




    /* Main Menu (homepage) -----------------------------*/ 
.menu {
  position: absolute;
  top: 45%;
  right: 10%;
}

.menu ul {
  list-style-type: none;
}

.menu h2 {
  text-align: right;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

  /* Creation Menu Bar ------------------------------*/
.creation-menu {
  height: 10vh;
}

.creation-menu ul {
  margin: 0 60px;  /* zmenit tuto a souvisejici na rem jednotky */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}




/* Button animation section */
input[name="btn-hp"],
input[name="btn-menu"],
input[name="btn-profile"] {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: right;
  border-radius: var(--ui-border-radius);
  background-color: var(--ui-elements);
  height: 2.3rem;
  color: var(--background);
  margin: 0.5rem 0;
  font-size: 1.2rem;
  transition: background-color var(--ui-animation-duration),
              padding var(--ui-animation-duration), 
              letter-spacing 0.5s 
              ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-color: #433e5c;
  padding: 0 2rem;
  letter-spacing: 0.07rem;
}

.button:active,
:checked + .button {
  background-color: #1c2a49;
  padding: 0 2rem;
}


/* Individual menu buttons */
/* Must be below .button classes */
.mainmenu {
  width: 20rem;
  padding: 0 1rem;
  justify-content: right;
}

.creationmenu {
  width: 15vw;
  justify-content: center;
}

.historyprofilemenu {
  width: 20vw;
  padding: 0 1rem;
  justify-content: left;
}

.backToHomePage {
  width: 15vw;
  padding: 0 1rem;
  margin: 0 60px;
  justify-content: center;
}

.back-arrow {
  position: relative;
  right: 1rem;
}


/* Used by fadeAllElements() and showAllElements() (main.js) ---------------- */
.fadePage {
  animation: fade linear var(--ui-animation-duration) forwards;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.showPage {
  animation: showPage linear var(--ui-animation-duration) forwards;
}

@keyframes showPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  visibility: hidden;
}

.getRedAndBack {
  animation: getRedAndBack linear 2s forwards;
}

@keyframes getRedAndBack {
  0% {
    background-color: var(--ui-elements);
  }
  50% {
    /* background-color: darkred; */
    background-color: darkred;
  }
  100% {
    background-color: var(--ui-elements);
  }
}



 /* 3D model */
iframe {
  filter: grayscale(1);
  transition: filter 0.5s;
}

iframe:hover {
  filter: grayscale(0);
}




/* Creation Section Layout*/
.main-container {
  width: 100%;
  height: 100%;
  padding: 0 60px;
  /* border: 1px solid yellow; */

  display: flex;
  flex-direction: row;
}

.model3d-container {
  flex: 1.2;
  padding: 2vh 4vw;
  /* border: 1px solid rgb(184, 165, 171); */
}

.text-container {
  flex: 2;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  overflow: auto;
}




.creationMessage {
  white-space: pre-line;
  margin: 0 50px;
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
}




/* Appearance Section */
.appearance-table {
  font-size: 1.5vw;
  /* font-size: 1.3rem; */
  width: 90%;
  /* border: 1px solid rgb(146, 141, 140); */
}

.prop-col {
  padding-left: 3%;
  width: 60%;
  text-align: left;
}

.arrow-col {
  width: 10%;
  font-size: 1.3rem;
  text-align: center;
  transition: background-color 0.3s;
}

.arrow-col:hover {
  background-color: #b3b3c2;
  cursor: pointer;
}

.arrow-col:active {
  background-color: #5656a541;
}

.option-col {
  width: 20%;
  text-align: center;
  font-size: 1.6rem;
}

.appearance-table tr {
  height: 0.4rem;
  padding: auto 0;
  background-color: white;
  transition: background-color 0.3s;
}

.appearance-table tr:hover {
  background-color: rgb(233, 233, 233);
}

.appearance-table td {
  border-radius: 3px;
}




/* History Section */
.history-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  /* border: 1px solid yellow; */
}

.profile {
  /* border: 1px dotted yellow; */
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
}

.profile ul {
  margin-left: 4rem;
  width: 17rem;
  /* border: 1px solid orange; */
  list-style-type: none;
}




.description {
  font-size: 1.5vw;
  flex: 2;
  padding: 2rem 0 0 1rem;
  /* border: 1px dotted red; */

}




/* animation styles for History */

/* .invisible {
  opacity: 0;
}

.getVisible {
  animation: getVisible linear var(--ui-animation-duration) forwards;
}

@keyframes getVisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.getInvisible {
  animation: getInvisible linear var(--ui-animation-duration) forwards;
}

@keyframes getInvisible {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

/* ////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////// */


.skills-table {
  color: var(--text);
  font-size: 1.5vw;
  width: 40vw;
}

.skills-table tr {
  padding: auto 0;
  background-color: white;
  filter: grayscale(1);
  transition: background-color var(--ui-animation-duration), 
              filter var(--ui-animation-duration) ease-in-out;

}

.skills-table tr:hover {
  background-color: rgb(241, 241, 241);
  filter: grayscale(0.5);
}

.skills-table td {
  border-radius: var(--ui-border-radius);
}

.skill-logo img {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
}

.skill-label {
  padding-left: 10%;
  width: 60%;
  text-align: left;
}

.level {
  width: 10%;
  text-align: center;
  font-size: 1.6rem;
}

.sign {
  width: 10%;
  font-size: 2rem;
  text-align: center;
  transition: background-color 0.3s;
}
.sign span {
  position: relative;
  top: -0.3rem;
}

.sign:hover {
  background-color: #b3b3c2;
  cursor: pointer;
}