/* Variables */
:root {
  --text: #555454;
  --background: #fff;
  --ui-elements: #555454;
  --ui-max-width: 1200px;
  --ui-min-width: 1000px;
  --ui-margin: auto auto;
  --ui-border-radius: 3px;
  --ui-animation-duration: 0.3s;
  /* --ui-icon-bg: #555454; Zatim nepouzite */
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* General Common Styles */
body {
  background-color: white; /* TODO Debug barva */
  font-family: "Inconsolata", monospace;
}

main {
  min-height: 400px; /*Lze doupravit*/
  height: 80vh;
  width: 100%;
  border: 1px solid green;
  position: relative;
}
/* end General Common Styles */

/* Header section */
header {
  height: 10vh; /* 5rem */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > h1 {
  margin-left: 60px;
  font-size: 2.5rem;
}

.button {
  margin-right: 60px;
  height: 2.3rem;
  width: calc(auto + 10rem);
  text-align: center;
  border-radius: var(--ui-border-radius);
  padding: 7px;
  background-color: var(--ui-elements);
  transition: letter-spacing 0.5s, background-color 0.5s;
}

.button:hover {
  letter-spacing: 2px;
  cursor: pointer;
  background-color: #433e5c;
}

/* end Header section */

/* Index.html */

/* Menu options */

.menu {
  width: 350px;
  position: absolute;
  top: 45%;
  right: 10%;
  /* border: 1px ridge brown; */
}

.menu li {
  height: 2.3rem;
  margin: 0.6rem;
  list-style-type: none;
  text-align: right;
  padding: 7px;
  padding-right: 13px;
  font-size: 1.3rem;
  transition: letter-spacing 0.5s;
}

.menu li:hover:not(:first-child) {
  letter-spacing: 2px;
  cursor: pointer;
}

.menu-title {
  background-color: white;
  color: var(--text);
}

.menu-item {
  background-color: #555454;
  color: rgba(255, 255, 255, 1);
}

/* Style for menu in character creation section ------------------------------*/
.creation-menu {
  /* border: 1px solid red; */
  width: 100%;
  /* height: 61px; */ /* original height, vh is probably better*/
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creation-menu ul {
  margin: auto 60px;
  width: 100%;
  /* border: 1px solid slateblue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.creation-menu li {
  width: 15%;
  height: 2.3rem;
  margin: 0.6rem 0;
  text-align: right;
  border-radius: var(--ui-border-radius);
  padding: 7px;
  padding-right: 13px;
  font-size: 1.3rem;
  transition: letter-spacing 0.5s, background-color 0.5s;
}

.creation-menu li:hover {
  letter-spacing: 2px;
  cursor: pointer;
  background-color: #433e5c;
}
/* -------------------------------------------------------------------------- */

/* Used by fadeAllElements() and showAllElements() (main.js) ---------------- */
.fadePage {
  animation: fade linear var(--ui-animation-duration) forwards;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.showPage {
  animation: showPage linear var(--ui-animation-duration) forwards;
}

@keyframes showPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  visibility: hidden;
}

.getRedAndBack {
  animation: getRedAndBack linear 2s forwards;
}

@keyframes getRedAndBack {
  0% {
    background-color: var(--ui-elements);
  }
  50% {
    background-color: darkred;
  }
  100% {
    background-color: var(--ui-elements);
  }
}

/* -------------------------------------------------------------------------- */

/* Character creating UI */

.main-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.model3d-container {
  /* border: 1px solid red; */
  flex: 1;
}

.text-container {
  /* border: 1px solid green; */
  flex: 2;
}

/* Character creation navigation*/

.navigation-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.navigation-bar > li {
  height: auto;
  margin: 0.6rem;
  list-style-type: none;
  text-align: right;
  padding: 7px;
  font-size: 1.3rem;
  border-radius: var(--ui-border-radius);
  background-color: #555454;
  color: rgba(255, 255, 255, 1);
  width: 90%;
  text-align: center;
  padding: 8px 3px;
}

/* Vzhled/Appearance Section */
.appearance {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  margin: 10px;
  padding: 1rem 1.5rem;
  height: 100%;
  overflow: auto;
  min-width: 600px;
}

.appearance table {
  margin: auto;
  width: 80%;
  font-size: 1.3rem;
}

.appearance td {
  padding: 0.4rem;
}

.appearance td:last-child {
  text-align: center;
}

/* Message - Zvolim si sam */

.button {
  border: 1px solid var(--ui-elements);
  background-color: var(--ui-elements);
  padding: 5px 20px;
  color: white;
  border-radius: var(--ui-border-radius);
}

/* Creation Section */
.main-container {
  width: 100%;
  height: 100%;
  padding: 0 60px;
  border: 1px solid yellow;

  display: flex;
  flex-direction: row;
}

.model3d-container {
  flex: 1;
  border: 1px solid palevioletred;
}

.text-container {
  flex: 2;
  border: 1px solid brown;
}
