/* Reset */
html, body, h1, h2, h3, h4, div, span, p, table, ul, ol, li, header, main, section, nav, footer, label, input {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Variables */

html[data-theme='light'] {
  --ui-background: #ffffff;
  --ui-headers: #252525;
  --ui-text: #303030;
  --ui-text-negative: #ffffff;
  --ui-alert-message-text: #ffffff;
  --ui-alert-message-bg: #433e5c;
  --ui-text-appearance-table-hover: #ffffff;
  --ui-text-skills-description: #1F3069;
  --ui-text-attributes-bonuses: #1F3069;
  --ui-border-radius: 5px;
  --ui-elements: #555454;
  --ui-hover-button-color: #433e5c;
  --ui-clicked-button: #1F3069;
  --ui-clicked-button-text: #ffffff;
  --ui-attributes-bonuses: #000000;
  --ui-scrollbar-track: #e6e6e661;
  --ui-scrollbar-thumb: #555454;
  --ui-animation-duration: 0.3s;
  --ui-table-animation-duration: all 0.1s ease;
  --ui-tr-bg: #ffffff75;
  --ui-tr-bg-hover: #55545473;
  --ui-bg-opacity: 0.5;
  --ui-shadows: 3px 3px 8px #000000a8;
  --ui-bg-buttons: #555454;
  --ui-header-footer-shadow: #0000008a;
  --ui-description-box: #ffffff61;
  --ui-anchors-color: #001f86;
  --ui-anchors-color-hover: #002cff;
}

html[data-theme='dark'] {
  --ui-background: #252525;
  --ui-headers: #eeeeee;
  --ui-text: #d3d3d3;
  --ui-text-negative: #d3d3d3;
  --ui-alert-message-text: #ffffff;
  --ui-alert-message-bg: #433e5c;
  --ui-text-appearance-table-hover: #252525;
  --ui-text-skills-description: #94acff;
  --ui-text-attributes-bonuses: #94acff;
  --ui-border-radius: 5px;
  --ui-elements: #252525;
  --ui-hover-button-color: #433e5c;
  --ui-clicked-button: #273257;
  --ui-clicked-button-text: #ffffff;
  --ui-attributes-bonuses: black;
  --ui-tr-bg: #ffffff75;
  --ui-tr-bg-hover: #74747475;
  --ui-scrollbar-track: #555454;
  --ui-scrollbar-thumb: #252525;
  --ui-animation-duration: 0.3s;
  --ui-table-animation-duration: all 0.1s ease;
  --ui-bg-opacity: 0.4;
  --ui-shadows: 2px 2px 5px #cacaca59;
  --ui-bg-buttons: #252525;
  --ui-header-footer-shadow: #cacaca59;
  --ui-description-box: #6b6b6b5e;
  --ui-anchors-color: #c3d1ff;
  --ui-anchors-color-hover: #7d6fff;
}

:root {
 --ui-grayscale: 0.4;
}

/* General Layout */
html {
  background-color: var(--ui-background);
  font-size: 100%;
  cursor: default;
  caret-color: rgba(0,0,0,0); /* Hide caret blinking in a text (paragraphs, buttons, etc)*/
}


::selection {
  background-color: inherit;
}

body {
  font-family: "Inconsolata", monospace;
  color: var(--ui-text);
}

main {
  min-height: 400px; /*Lze doupravit*/
  height: 70vh;
  width: 100%;
  position: relative;
}

.background{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 0%,rgb(255 255 255 / 50%) 59%,rgba(255,255,255,1) 100%), 
    url(/logos/bg_extralow.png);
  background-size: cover;
  background-repeat: no-repeat;
  filter: opacity(var(--ui-bg-opacity)) blur(1px);
}

header {
  z-index: 99;
  height: 15vh;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 10px var(--ui-header-footer-shadow);
}

header > h1 {
  margin-left: 60px;
  font-size: 2.5rem;
  color: var(--ui-headers);
  text-shadow: var(--ui-shadows);
}

button {
  background-color: var(--ui-background);
}


    /* Main Menu (homepage) -----------------------------*/ 
.menu {
  position: absolute;
  bottom: 23%;
  right: 10%;
}

.menu ul {
  list-style-type: none;
}

.menu h2 {
  text-align: right;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  color: var(--ui-headers);
  text-shadow: var(--ui-shadows);
}

  /* Creation Menu Bar ------------------------------*/
.creation-menu {
  height: 15vh;
}

.creation-menu ul {
  height: 100%;
  margin: 0 60px;  /* zmenit tuto a souvisejici na rem jednotky */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}




/* Button animation section */
input[name="btn-hp"],
input[name="btn-menu"],
input[name="btn-profile"] {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: right;
  border-radius: var(--ui-border-radius);
  background-color: #151515ad;
  height: 2.3rem;
  color: var(--ui-text-negative);
  margin: 0.5rem 0;
  font-size: 1.1rem;
  transition: background-color var(--ui-animation-duration),
              padding var(--ui-animation-duration), 
              letter-spacing var(--ui-animation-duration) 
              ease-in-out;
  box-shadow: var(--ui-shadows), 0px 0px 2px #ffffff59;
}

.button:hover {
  cursor: pointer;
  background-color: var(--ui-hover-button-color);
  padding: 0 2rem;
  letter-spacing: 0.07rem;
}

.button:active,
:checked + .button {
  background-color: var(--ui-clicked-button);
  padding: 0 2rem;
}


/* Individual menu buttons */
/* Must be below .button classes */
.mainmenu {
  width: 20rem;
  padding: 0 1rem;
  justify-content: right;
}

.creationmenu {
  width: 17vw;
  min-width: 10vw;
  justify-content: center;
}

.historyprofilemenu {
  width: 20vw;
  padding: 0 1rem;
  justify-content: left;
}


.backToHomePage {
  width: 17vw;
  padding: 0 1rem;
  margin: 0 60px;
  justify-content: center;
}

.back-arrow {
  position: relative;
  right: 1rem;
}


/* Used by fadeAllElements() and showAllElements() (main.js) ---------------- */
.fade {
  animation: fade linear var(--ui-animation-duration) forwards;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.show {
  animation: show linear var(--ui-animation-duration) forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  visibility: hidden;
}




 /* 3D model */
iframe {
  filter: grayscale(1);
  transition: filter 0.5s;
}

iframe:hover {
  filter: grayscale(0.4);
}




/* Creation Section Layout*/
.main-container {
  width: 100%;
  height: 100%;
  padding: 0rem 60px;
  display: flex;
  flex-direction: row;
}

.model3d-container {
  position: relative;
  z-index: 0;
  flex: 1.2;
  padding: 0vh 4vw;
}

.text-container {
  flex: 2;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
}




.creationMessage {
  white-space: pre-line;
  text-align: center;
  line-height: 1.5rem;
  width: 100%;
  padding: 0 2rem;
}




/* Appearance Section */
.appearance-table-container {
  height: 80%;
  width: 90%;
  overflow: auto;
}

.appearance-table {
  line-height: 1.9rem;
  width: 100%;
}

.appearance-table tr {
  color: inherit;
  transition: var(--ui-table-animation-duration);
}
  
.appearance-table tr:hover {
  background-color: var(--ui-tr-bg-hover);
}

.appearance-table td {
  border-radius: 3px;
}

.appearance-table td:nth-of-type(1) {
  padding: 0 0.5rem;
}

.appearance-table td:nth-of-type(3) {
  padding: 0 0.5rem;
}

.prop-col {
  width: 50%;
  text-align: left;
}

.arrow-col {
  width: 10%;
  text-align: center;
  transition: var(--ui-table-animation-duration);
}
.arrow-col:hover {
  background-color: var(--ui-hover-button-color);
  color: var(--ui-text-negative);
  cursor: pointer;
}
.arrow-col:active {
  background-color: var(--ui-clicked-button);
}

.option-col {
  width: 25%;
  text-align: center;
  font-size: 1.3em;
}

.logo-face-container {
  filter: grayscale(1);
  transition: filter var(--ui-animation-duration);
}

.logo-face-container:hover {
  filter: grayscale(var(--ui-grayscale));
}

.logo-face {
  width: 90px;
  filter: drop-shadow(2px 0px 5px #ffffff) opacity(0.8);
}




/* History Section */
.history-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
}

.profile {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
}

.profile ul {
  margin-left: 4rem;
  width: 17rem;
  list-style-type: none;
}

.profile > ul > li:first-of-type label {
  background-color: var(--ui-clicked-button);
  padding: 0 2rem;
  letter-spacing: 0.07rem;
}

.description {
  font-size: 1rem;
  line-height: 1.3rem;
  flex: 2;
  padding: 2rem 0 0 1rem;
}

.description > div {
  text-align: justify;
}

.description h2 {
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--ui-headers);
  border-bottom: 1px solid var(--ui-text);
  margin-bottom: 0.8rem;
  padding-left: 2rem;
}



/* --------- Skills Section ------------------------------------------------- */

.skills-container {
  height: 100%;
  width: 100%;
}

.skills {
  overflow: auto;
  height: 45%;
  margin: 1rem 0;
  margin-bottom: 2rem;
}

.skills-table {
  font-size: 1.2rem;
  width: 100%;
}

.skills-table:hover {
  cursor: pointer;
}

.skills-table tr {
  /* background-color: var(--ui-tr-bg); */
  filter: grayscale(1);
  transition: var(
  --ui-table-animation-duration);
}

.skills-table tr:hover {
  background-color: var(--ui-tr-bg-hover);
  filter: grayscale(0.6);
}


.skills-table td {
  padding: 0.2rem 0;
  border-radius: 3px;
}

.skills-table td:nth-of-type(2) {
  padding-left: 0.5rem;
}

  /* Skills table - first column */
.skill-logo {
  width: 10%;
  text-align: center;
}
.skill-logo img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: bottom;
}

  /* Skills table - second column */
.skill-label {
  width: 50%;
  text-align: left;
}

  /* Skills table - third and fifth column */
.sign {
  width: 10%;
  text-align: center;
  transition: var(--ui-table-animation-duration);
}
.sign:hover {
  background-color: var(--ui-hover-button-color);
  color: var(--ui-text-negative);
  cursor: default;
}
.sign:active {
  background-color: var(--ui-clicked-button);
}

  /* Skills table - forth column */
.level {
  width: 7%;
  text-align: center;
  font-size: 1.3rem;
}



.skills-container > h3 {
  font-size: 1.3rem;
  color: var(--ui-headers);
  border-bottom: 1px solid var(--ui-text);
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.in-description-header {
  margin-bottom: 15px;
}

.skills-description {height: 32%;border-radius: 5px;overflow: auto;background-color: var(--ui-description-box);padding: 1rem 1.5rem;box-shadow: var(--ui-shadows);margin: 0 10px;}

.skills-description li {
  text-align: left;
}

.skills-description h2 {
  margin-bottom: 1rem;
  color: var(--ui-headers);
}

.skills-description .achieved {
  color: var(--ui-text);
  font-size: 1rem;
}




.skills-description .unachieved {
  color: var(--ui-text);
  font-size: 1rem;
  padding-top: 0.3rem;
  font-size: 1rem;
  transition: all var(--ui-animation-duration) linear;
}

.skills-description .unachieved:last-of-type {
  margin-bottom: 1.3rem;
  /* color: var(--ui-text); */
}

.skills-description .unachieved:hover {
  font-size: 1.3rem;
  color: var(--ui-text);
}

.skills-description .unachieved:hover:after {
  font-size: inherit;
  color:rgb(253, 127, 127);
  content: " (Nedosaženo)";
}

.skills-description ol {
  list-style-position: inside;
}




/* Google's letters coloring */
.unachieved:hover  .g1 {
  color: #4285f4;
}
.unachieved:hover  .o1 {
  color: #ea4335;
}
.unachieved:hover  .o2 {
  color: #fbbc05;
}
.unachieved:hover  .g2 {
  color: #4285f4;
}
.unachieved:hover  .l {
  color: #34a853;
}
.unachieved:hover  .u {
  color: #ea4335;
}

/* This exclude list item from ordering */
.skills-description .down-arrow,
.down-stop-arrow {
  display: block;
  font-size: 1.5rem;
  padding-left: 3rem;
}

.down-stop-arrow {
  margin-bottom: 1rem;
}


/* Window scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--ui-scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--ui-scrollbar-thumb);
  border-radius: 2.9px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--ui-hover-button-color);
}

::-webkit-scrollbar-thumb:active {
  background: var(--ui-clicked-button);
}
 


/* /////////////// Attributes Section */
.attributes-container {
  height: 100%;
  width: 100%;
}

.attributes-boxes {
  height: 45%;
  overflow: auto;
  margin: 1rem 0;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-flow: row wrap;
  flex-shrink: 0;
  cursor: pointer;
}

.attributes-container > h3{
  font-size: 1.3rem;
  color: var(--ui-headers);
  border-bottom: 1px solid var(--ui-text);
  margin-bottom: 1rem;
  padding-left: 2rem;
}



.attribute-box {
  margin: 0.2rem 0.2rem;
  border-radius: 4px;
  width: 48%;
  min-width: 16rem;
  height: 3rem;
  padding: 0 2rem;
  background-color: var(--ui-elements);
  color: var(--ui-text-negative);
  transition: background-color var(--ui-animation-duration) ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--ui-shadows);
}

.check-mark {
  background-color: var(--ui-text-negative);
  padding: 0.5rem;
  font-size: 1.5rem;
}
.check-mark:hover {
  cursor: default;
}

.checked{
  color: var(--ui-elements);
}

.unchecked {
  color: var(--ui-text-negative);
}


.attribute-box:hover {
  background-color: var(--ui-hover-button-color);
}

.attribute-box:active {
  background-color: var(--ui-clicked-button);
}


.attributes-description {
  height: 32%;
  border-radius: 5px;
  padding:  1rem;
  overflow: auto;
  background-color: var(--ui-description-box);
  margin: 0 10px;
  box-shadow: var(--ui-shadows);
}

.attributes-description > h2 {
  margin-bottom: 0.3rem;
  color: var(--ui-headers);
}

.attributes-description > p {
  margin-top: 0.5rem;
  font-size: 1rem;
  text-align: justify;
  color: var(--ui-text);
}

.bonuses{
  margin: 1rem;
  list-style-type: none;
  color: var(--ui-attributes-bonuses);
  line-height: 1.2rem;
  font-style: italic;
}

.bonuses li {
  color: var(--ui-text-attributes-bonuses);
  transition: font-size var(--ui-animation-duration),
              color var(--ui-animation-duration) linear;
}

.bonuses li:hover {
  font-size: 1.1rem;
}

.goodbye {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goodbye p {
  color: var(--ui-text);
  font-size: 3rem;
}

/* Summary section */

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary p {
  margin-top: 1rem;
  line-height: 1.3rem;
  text-align: left;
}

.btn-letsPlayAGame {
  margin-top: 2rem;
}



/* Notes:

<!-- &#9746;   cross in square -->
<!-- &#9745;   checked mark` in square -->
<!-- &#9744;   empty square -->
<!-- &#10005;  multiplication x --> */

.temp-alert-msg-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 101;
  top: 0rem;
  height: auto;
  background-color: var(--ui-alert-message-bg);
  padding: 0.3rem;
}

.temp-alert-msg {
  color: var(--ui-alert-message-text);
}



/* ------------------------ Extras Section --------------------------------- */

.extras-text-container {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 50%;
  margin-right: 2rem;
  margin-left: 8%;
  padding: 2% 2%;
  overflow: auto;
  /* Following changes position of scrollbar to left. Inside text/element 
  direction must be manually reset in individual selector (see bellow). */
  direction: rtl;
}

/* Reset direction to default */
.extras-text-container h2,p,ul {
  direction: ltr;
}

.extras-text-container h2 {
  margin-bottom: 1rem;
  margin-left: 3rem;
}

.extras-text-container h2:not(:first-of-type) {
  margin-top: 3rem;
}

.extras-text-container p {
  margin-bottom: 1rem;
  font-size: 1rem;
}


.extras-text-container li:not(:last-child) {
  margin-bottom: 0.2rem;
}


.extras-text {
  position: relative;
  z-index: -1;
  background-color: var(--ui-description-box);
  padding: 1rem;
  padding-left: 2.6rem;
  border-radius: 5px;
}

.extras-text > h2 {
  margin-top: 1.5rem;
}

.extras-text a {
  color: var(--ui-anchors-color);
  transition: var(--ui-animation-duration);
}

.extras-text a:hover {
  color: var(--ui-anchors-color-hover);
}


footer {
  box-shadow: 0px -5px 10px var(--ui-header-footer-shadow);
  height: 15vh;
}

.footer-text {
  font-size: 0.9em;
  color: var(--ui-text);
  position: absolute;
  bottom: 6px;
}

.footer-copy {
  left: 6px;
}

.footer-contact {
  right: 6px;
  transition: all var(--ui-animation-duration);
}

.footer-contact:hover {
  cursor: pointer;
  color: var(--ui-text-skills-description);
}


.welcome-msg {
  width: 40%;
  position: absolute;
  bottom: 23%;
  left: 10%;
}

.welcome-msg p {
  font-size: 1rem;
}

.welcome-msg h3 {
  text-align: left;
  margin-bottom: 1rem;
  color: var(--ui-headers);
  text-shadow: var(--ui-shadows);
}

.extras-foreword {
  width: auto;
}

.notice-msg {
  margin-top: 5% !important;
  text-align: center !important;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  padding: 2rem;
  top: 19%;
  left: 10%;
  z-index: 100;
  overflow: auto;
  height: auto;
  width: 80%;
  max-width: 90%;
  min-width: 300px;
  border-radius: var(--ui-border-radius);
  box-shadow: var(--ui-shadows);
  background-color: var(--ui-background);
}

.contact-container p {
    margin-bottom: 1rem;
}

.optionalMsg {
  margin-bottom: 1rem;
}

.link {
  transition: all var(--ui-animation-duration);
}
.link:hover {
  cursor: pointer;
  color: var(--ui-text-skills-description);
}

.link img {
  height: 1.2rem;
  position: relative;
  top: 0.3rem;
  left: 0.2rem;
  background-color: var(--ui-text-negative);
  border-radius: 50%;
}